<div class="col-lg-4 mt-4 d-flex justify-content-center">
  <figure class="figure">
    <%= image_tag image.picture.thumb.url , class: 'figure-img img-fluid rounded' ,style: 'border-solid: 1px;' %>
    <figcaption class="figure-caption">
      <div class="col-lg-12">
        <p><b><%=t('activerecord.attributes.image.title')%>: </b><%= image.title %></p>
        <p><b><%=t('activerecord.attributes.image.description')%>: </b></p>
        <p><%= image.description %></p>
      </div>
    </figcaption>
    <figcaption class="figure-caption d-flex justify-content-center">
      <div class="col-lg-12 text-center">
        <%= button_to  likes_path(id:image.id), method: :get , remote: true , class: 'btn btn-btn-light', id: "btn-#{image.id}" do %>
          Me gusta
          <% if @likes.detect{|w| w.id == image.id} %>
            <%= fa_icon 'thumbs-up', id:"thumbs-up-#{image.id}" , class: "like" %>
          <% else %>
            <%= fa_icon 'thumbs-up', id:"thumbs-up-#{image.id}"  %>
          <% end %>
        <% end %>
      </div>
    </figcaption>
  </figure>
</div>


