<%= form_for @image , builder: CustomFormBuilder, :html => {:multipart => true} , class: "" do |f| %>
  <%= f.form_error %>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_field :description , class: "form-control" %>
    <%= f.field_error :description %>
  </div>
  <div class="form-group">
    <%= f.label :picture %>
    <br>
    <%= f.file_field :picture , class: "" %>
  </div>
  <%= f.submit t('save_button'), class: "btn btn-primary" %>
<%end %>