<div class="col-lg-4 mt-4 d-flex justify-content-center">
  <figure class="figure">
    <%= image_tag image.picture.thumb.url , class: 'figure-img img-fluid rounded' ,style: 'border-solid: 1px;' %>
    <figcaption class="figure-caption">
      <div class="col-lg-12">
        <p><b><%=t('activerecord.attributes.image.title')%>: </b><%= image.title %></p>
        <p><b><%=t('activerecord.attributes.image.description')%>: </b></p>
        <p><%= image.description %></p>
        <p><b><%=t('activerecord.attributes.image.private_img')%>: </b><%= (image.private_img) ? t('general.public') : t('general.private') %></p>
      </div>
    </figcaption>
    <figcaption class="figure-caption d-flex justify-content-center">
      <div class="col-lg-6">
        <%= link_to t('.edit_link'), edit_image_path(image) , class: 'btn btn-primary btn-block' %>
      </div>
      <div class="col-lg-6">
        <%= link_to t('images.image.remove_link'), image, method: :delete , data: { confirm: 'sure?' } ,class: 'btn btn-danger btn-block'  %>
      </div>

    </figcaption>
  </figure>
</div>




